.Sidebar {
  position: fixed;
  top: 100px;
  left: 10px;

  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 25px;

  z-index: 1200;
  padding: 5px 15px;

  transition: 0.1s;
}

.Sidebar--collapsed {
  height: 50px;
  transition: 0.5s;

  opacity: 0.3;
}

.SidebarItem {
  margin-top: 5px;
}

.SidebarFooter {
  position: absolute;
  bottom: 5px;
  left: 1px;
  width: 100%;
  font-size: 8px;
  font-style: italic;
  text-align: center;
}

.SidebarHeader {
  text-align: center;
}

.SidebarHeader svg {
  vertical-align: bottom;
  margin-left: 20px;
}

.SidebarHeader svg:hover {
  cursor: pointer;
}

.SidebarContent-collapsed {
  display: none;
}

.Sidebar__Arrow {
  height: 20px;
  transition: 0.5s;
}

.Sidebar__Arrow--rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

@media (max-width: 414px) {
  .Sidebar {
    display: none;
  }
}
